body {
  font-family: "Helvetica";
}

li {
  list-style: none;
}

h1 {
  margin: 50px 0px 60px 30px;
  font-size: 42px;
  font-weight: normal;
}

li:hover {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  border-bottom: 2px solid rgb(151, 151, 151);
}

.nav-bar > li {
  margin: 0px 15px 0px 20px;
  padding: 7px;
  width: 150px;
  border: 2px solid rgb(151, 151, 151);
  border-bottom: 0px;
  font-size: 26px;
  text-align: center;
}

.tab-selected {
  background-color: rgb(216, 216, 216);
}

.input {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border: 2px solid rgb(151, 151, 151);
  margin: 30px 0px 30px 20px;
  font-size: 26px;
}

.input-field {
  display: flex;
  margin: 20px;
}

.input-field > input {
  margin-left: 15px;
  width: 100%;
  font-size: 26px;
  border: 2px solid rgb(151, 151, 151);
}

.input-buttons {
  display: flex;
  justify-content: flex-end;
}

.export-json {
  vertical-align: top;
  font-size: 26px;
  width: 900px;
  height: 300px;
  margin: 50px 0px 0px 20px;
  border: 2px solid rgb(151, 151, 151);
}
