body {
  font-family: "Helvetica";
}

main {
  position: relative;
}

li {
  list-style: none;
}

h1 {
  margin: 50px 0px 60px 55px;
  font-size: 42px;
  font-weight: normal;
}

li:hover {
  background-color: rgb(151, 151, 151);
  cursor: pointer;
}

.nav-bar {
  display: flex;
  border-bottom: 2px solid rgb(151, 151, 151);
}

.nav-bar > li {
  margin: 0px 15px 0px 20px;
  padding: 7px;
  width: 150px;
  border: 2px solid rgb(151, 151, 151);
  border-bottom: 0px;
  font-size: 26px;
  text-align: center;
}

.tab-selected {
  background-color: rgb(216, 216, 216);
}
